.contact-container {
  text-align: center;
  padding: 40px;
}

.contact-container h1 {
  color: #b6aba8;
  margin-bottom: 20px;
}

.contact-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.contact-details p {
  font-size: 16px;
  margin: 10px 0;
}

.thanks {
  margin-top: 25px;
  font-size: 17px;
}